In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
x=list(map(int, input().split()))
y=list(map(float, input().split()))
print(x,y)

0 1 3 6 8
1 3 2 5 4
[0, 1, 3, 6, 8] [1.0, 3.0, 2.0, 5.0, 4.0]

In [3]:
xy=[]
x2=[]
for i in range(len(x)):
    xy.append(x[i]*y[i])
    x2.append(pow(x[i],2))
d={"x":x,"y":y,"xy":xy,"x2":x2}
data=pd.DataFrame(d)
data

   x    y    xy  x2
0  0  1.0   0.0   0
1  1  3.0   3.0   1
2  3  2.0   6.0   9
3  6  5.0  30.0  36
4  8  4.0  32.0  64

In [4]:
zy=sum(y)
zx=sum(x)
zxy=sum(xy)
zx2=sum(x2)
n=len(x)
print(zx,zy,zxy,zx2,n)

18 15.0 71.0 110 5

In [5]:
a=np.array([[n,zx],[zx,zx2]])
b=np.array([zy,zxy])
sol=np.linalg.solve(a,b)
sol

array([1.6460177 , 0.37610619])

In [6]:
print("y =%.2f + %.2f x"%(sol[0],sol[1]))

y =1.65 + 0.38 x