In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
x=list(map(int, input().split()))
y=list(map(float, input().split()))
print(x,y)

0 1 2 3 4
1 1.8 1.3 2.5 6.3
[0, 1, 2, 3, 4] [1.0, 1.8, 1.3, 2.5, 6.3]

In [3]:
xy=[]
x2y=[]
x2=[]
x3=[]
x4=[]
for i in range(len(x)):
    xy.append(x[i]*y[i])
    x2y.append(y[i]*(pow(x[i],2)))
    x2.append(pow(x[i],2))
    x3.append(pow(x[i],3))
    x4.append(pow(x[i],4))
d={"x":x,"y":y,"xy":xy,"x2y":x2y,"x2":x2,"x3":x3,"x4":x4}
data=pd.DataFrame(d)
data

   x    y    xy    x2y  x2  x3   x4
0  0  1.0   0.0    0.0   0   0    0
1  1  1.8   1.8    1.8   1   1    1
2  2  1.3   2.6    5.2   4   8   16
3  3  2.5   7.5   22.5   9  27   81
4  4  6.3  25.2  100.8  16  64  256

In [6]:
zx=sum(x)
zy=sum(y)
zxy=sum(xy)
zx2y=sum(x2y)
zx2=sum(x2)
zx3=sum(x3)
zx4=sum(x4)
n=len(x)
print(zx,zy,zxy,zx2y,zx2,zx3,zx4,n)

10 12.899999999999999 37.1 130.3 30 100 354 5

In [8]:
a=np.array([[n,zx,zx2],[zx,zx2,zx3],[zx2,zx3,zx4]])
b=np.array([zy,zxy,zx2y])
sol=np.linalg.solve(a,b)
sol

array([ 1.42, -1.07,  0.55])

In [12]:
print("y = %.2f + %.2f x + %.2f x2"%(sol[0],sol[1],sol[2]))

y = 1.42 + -1.07 x + 0.55 x2